<!DOCTYPE kpartgui>
<kpartgui name="kaput" version="1">

<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="restart"/>
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
    <Action name="import_pictures"/>
    <Action name="show_pictures"/>
  </Menu>
</MenuBar>

</kpartgui>
